<h1>Movies:</h1>

<% @movies.each do |movie| %>
    <div class="row">
        <h3><%= movie.title %></h3>

        <div class="col-6">
            <%= image_tag movie.picture %>
        </div>

        <div class="col-6 details-container">
            <p><%= "Director: #{movie.director}" %></p>
            <p><%= "Price: $#{sprintf("%0.02f", movie.price)}" %></p>
            <p><%= "Release Date: #{movie.release}" %></p>
        </div>
    </div>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-danger" %>