<h1>Books:</h1>

<input id="input" class="form-control" type="search" placeholder="Search Books">

<% @books.each do |book| %>
    <div class="row">
        <h3><%= book.title %></h3>

        <div class="col-6">
            <%= image_tag book.picture %>
        </div>

        <div class="col-6 details-container">
            <p><%= "Author: #{book.author}" %></p>
            <p><%= "Price: $#{sprintf("%0.02f", book.price)}" %></p>
            <p><%= "Release Date: #{book.release}" %></p>         
        </div>
    </div>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-danger" %>



<script>
    const input = document.getElementById("input");
    const books = document.querySelectorAll(".row");

    input.addEventListener("input", search);
    
    function search() {
        const searchTerm = input.value.trim().toLowerCase();

        for (i = 0; i < books.length; i++) {
            const title = books[i].textContent.trim().toLowerCase();

            if (title.includes(searchTerm)) {
                books[i].style.display = "flex";
            }
            
            else {
                books[i].style.display = "none";
            }
        }  
    }
</script>