<h1><%= @book.title %></h1>

<div class="row">
    <div class="col-6">
        <p><%= "Author: #{@book.author}" %></p>
        <p><%= "Price: $#{sprintf("%0.02f", @book.price)}" %></p>
        <p><%= "Release Date: #{@book.release}" %></p>
    </div>
    <div class="col-6">
        <%= image_tag @book.picture %>
    </div>
</div>

<%= link_to "Back", books_path, class: "btn btn-danger", data: {turbo: false} %>